[submodule "third/fmt"]
	path = third/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "third/glad"]
	path = third/glad
	url = https://github.com/lmj01/glad
	branch = glad2
[submodule "third/glm"]
	path = third/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "third/lnlib"]
	path = third/lnlib
	url = https://github.com/BIMCoderLiang/LNLib.git
	branch = main
[submodule "third/stb"]
	path = third/stb
	url = https://github.com/nothings/stb.git
	branch = master
