[submodule "third/fmt"]
	path = third/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = master
[submodule "third/glfw"]
	path = third/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "third/glad"]
	path = third/glad
	url = https://github.com/lmj01/glad
	branch = glad2
